.products {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 3rem;
  box-sizing: border-box;

  .headerProduct {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.5;
  }

  .list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5rem;
  }
}
